h3{
	background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: 1px 1px 0 #777;
}
p{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg-1 {
	background-color: d3d3d3;
}
.center {
	display: block;
	margin:auto;
	width: 50%; 
}
#me_section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.games {
	text-align: left;
}

/*h1 {
	color: #fef9e7;
	text-align: center;
}
#menuitems {
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 30;
	float: right;

}
#menuitems li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	
}
#menuitems li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 100%;
	color: #fef9e7;
	font: bold 20px serif;
	text-align: center;
	text-decoration: none;
}
#menuitems li a:hover{
	background: #49A3FF;
}*/