body { 
    font-family: Verdana; 
    font-size: 18px; 
    color: #444; 
} 
  
a {color: #48577D; text-decoration: none;} 
  
a:hover {text-decoration: underline;} 
  
h1, h2 {margin-bottom: 15px} 
  
h1 {font-size: 22px;} 
h2 {font-size: 18px} 
  
#body { 
    width: 700px; 
    margin: 150px auto; 
    background-color: #eee; 
    padding:15px; 
    overflow: hidden; 
} 
	
  
    #cart, #choice { 
        width: 550px; 
        float: left; 
    } 
      
        #cart table, #choice table{ 
            width: 550px; 
        } 
          
            #cart th, #choice th { 
                padding: 10px; 
                background-color: #43270f; 
                color: #fff; 
                text-align: left; 
            } 
              
            #cart td, #choice td{ 
                padding: 5px; 
            } 
              
            #cart tr, #choice tr { 
                background-color: #ffe0c0; 
            } 
            
            #mybutton,#quantity {
            	width: 100px;
            	height: 30px;
            	font-size: 18px;
            	background-color: #eed7d7;
            }
      
    #sidebar { 
        width: 200px; 
        float: left; 
    }
   
