body {
  background-color: #ffffff;
}
.navigation {
  height: 100px;
  background: #ffffff;
}
.nav-container {
  max-width: 100%;
  margin: 0 auto;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  width: 30%;
}
nav {
  float: right;
  padding-right: 20px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  color: #a52a2a;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
/*
.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}
*/

/*
nav ul li:hover ul {
  visibility: visible;
}
ul.nav-list li:hover ul {
  width: 100%;
  visibility: visible;
  opacity: 1;

  border-radius: 4px;
}
ul.nav-dropdown {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  left: 0;
  height: 40px;
  line-height: 40px;
}
ul.nav-dropdown li:hover {
  border-radius: 4px;
}
ul.nav-list a,
ul.nav-dropdown a {
  padding: 0 10px;
  color: red;
}

*/

.nav-dropdown {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 600px;
  display: none;
}
.nav-dropdown a {
  float: left;
  text-decoration: none;
}
nav ul li a:not(:only-child):hover .subnav {
  display: block;
}
.subnav {
  font-size: 14px;
}
.slideshow {
  width: 1000px;
  height: 650px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.slide {
  width: 1000px;
  height: 650px;
  position: absolute;
  left: 0;
  top: 0;
}

.section_heading {
  background-color: #a04000;
  width: 85%;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  margin: auto;
}

.section_matter {
  text-align: justify;
  padding-top: 10px;
  width: 85%;
  margin: auto;
}
.quote {
  font-style: italic;
  text-align: center;
  color: blue;
  padding-top: 5px;
  padding-bottom: 5px;
}

.no-center {
  text-align: left;
}
.navItem:hover {
  background-color: #659ec7;
  cursor: pointer;
}

.navItem.active {
  background-color: #659ec7;
}
.section.inactive,
.product-content.inactive {
  display: none;
}
.section.active,
.product-content.active {
  display: block;
}

.product-images img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  margin: auto;
}

.panel-heading:hover {
  background-color: #659ec7;
}

#home_section {
  padding-top: 20px;
}

/*

.navbar {
  width: 100%;
  background-color: #a04000;
  overflow: auto;
  margin-bottom: 0px;
}
.navbar a {
  float: left;
  padding: 10px;
  color: #fdebd0;
  width: 8%;
  text-align: center;
}
.panel-title:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #6e2c00;
  color: #fdebd0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) 
}
*/
