:root {
  --image-width: 1000px;
  --image-height: 650px;
  --image-width-mobile: 400px;
  --image-height-mobile: 250px;
  --main-color: #a04000;
}
body {
  background-color: #ffffff;
}
#breadcrumb {
  color: var(--main-color);
}
.navigation {
  height: 100px;
  background: #ffffff;
  margin-bottom: 30px;
}
.nav-container {
  max-width: 100%;
  margin: 0 auto;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  width: 30%;
}
nav {
  float: right;
  padding-right: 20px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 40px;
  color: var(--main-color);
  background-color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman";
}
nav ul li a:active {
  background-color: var(--main-color);
  color: #ffffff;
}
nav ul li ul li {
  min-width: auto;
}
nav ul li ul li a {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  z-index: 1;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}
/*
.nav-dropdown {
  position: absolute;

  display: none;
  background-color: #a04000;
  color: #ffffff;
  border-radius: 5px;
}
.nav-dropdown li a {
  padding-right: 10px;
}
.subnav {
  float: left;
  text-decoration: none;
  display: block;
  font-size: 14px;
  background-color: #a04000;
  color: #ffffff;
  padding-right: 10px;
}
*/
.navItem:hover {
  background-color: #659ec7;
  cursor: pointer;
}

.navItem.active {
  background-color: #659ec7;
}
.prime.active {
  background-color: var(--main-color);
  color: #ffffff;
}
.slideshow {
  width: var(--image-width);
  height: var(--image-height);
  margin: 0 auto;
  position: relative;
}
.slide {
  width: var(--image-width);
  height: var(--image-height);
  position: absolute;
  left: 0;
  top: 0;
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
    z-index: 1;
  }

  .nav-dropdown {
    position: static;
    z-index: 1;
  }
  .slideshow {
    width: var(--image-width-mobile);
    height: var(--image-height-mobile);
    position: relative;
    z-index: 0;
  }
  .slide {
    width: var(--image-width-mobile);
    height: var(--image-height-mobile);
    position: absolute;
    z-index: 0;
  }
}

.section_heading {
  background-color: var(--main-color);
  width: 85%;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  margin: auto;
}

.section_matter {
  text-align: justify;
  padding-top: 10px;
  width: 85%;
  margin: auto;
}
.quote {
  font-style: italic;
  text-align: center;
  color: var(--main-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.no-center {
  text-align: left;
}
.section.inactive,
.product-content.inactive {
  display: none;
}
.section.active,
.product-content.active {
  display: block;
}

.product-images img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  margin: auto;
}

.panel-heading:hover {
  background-color: var(--main-color);
  color: #ffffff;
}
.connect.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.connect.fa:hover {
  opacity: 0.7;
}

.connect.fa-facebook {
  background: #3b5998;
  color: white;
}

.connect.fa-twitter {
  background: #55acee;
  color: white;
}
.connect.fa-linkedin {
  background: #007bb5;
  color: white;
}
.connect.fa-instagram {
  background: #125688;
  color: white;
}

/*

nav ul li a:not(:only-child):hover .subnav {
  display: block;
}

#home_section {
  padding-top: 20px;
}
.navbar {
  width: 100%;
  background-color: #a04000;
  overflow: auto;
  margin-bottom: 0px;
}
.navbar a {
  float: left;
  padding: 10px;
  color: #fdebd0;
  width: 8%;
  text-align: center;
}
.panel-title:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #6e2c00;
  color: #fdebd0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) 
}
*/
