body{
  background-color: #ffffff;
  margin-top: 70px;
  
}
.navbar{
  width: 100%;
  background-color: #a04000;
  overflow: auto;
  margin-bottom: 0px;
}
.navbar a {
  float: left;
  padding: 12px;
  color:#fdebd0;
  width: 10%;
  text-align: center;
}
.section_heading{
  background-color: #a04000;
  color: #fdebd0;
  text-align: center;
  font-weight: bolder;
}
.level2section, .level3section {
  text-align: center;
}

.vision {
  background-color: #a04000;
  color: #fdebd0;
  padding-bottom: 20px;
  padding-top: 10px;
} 

.navItem:hover {
  background-color: #6e2c00;
  cursor: pointer;
}

.section_matter {
  text-align: center;
  padding-top: 10px;
}

#me_section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navItem.active {
	background-color: #6e2c00;
}
.section.inactive, .product-content.inactive {
  display: none;
} 
.section.active, .product-content.active{
  display: block;
  margin-top: 70px;
}
.product-images .team-image{
  margin-bottom: 20px;
}

.panel-heading:hover{
  background-color: #fad7a0;
}

#home_section{
  padding-top: 20px;
}
#home_section p{
  font-size: 20px;
  text-align: left;
}





/*
.panel-title:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #6e2c00;
  color: #fdebd0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) 
}
*/